body {
  text-align: center;
  background-color: rgb(248, 232, 166);
}

a {
  padding: 10px;
  color: green;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

#emailLink {
  color: purple;
}
